.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  left: 5px;
  right: 5px;
  top: 0;
  background-color: white;
  align-items: center;
}
.cart-div {
  right: 0;
  bottom: 0;
  font-size: x-large;
  margin-top: 120px;
  text-align: center;
}
.sidebar {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 200px;
}
.input {
  border-radius: 11px;
  border-width: 1px;
  width: 400px;
  height: 30px;
  padding-left: 10px;
}
.search {
  margin-left: 10px;
}
.grid {
  display: grid;
  margin-top: 70px;
  margin-left: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 619px){
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 620px) and (max-width: 950px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 951px) and (max-width: 1250px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1251px) and (max-width: 1600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1601px) and (max-width: 1899px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1900px) and (max-width: 2199px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 2200px) and (max-width: 2499px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 2500px){
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.div-device-image{
  text-align: center;
}
.addition-info,
.div-device-name {
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
}
.device-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.div-device-name {
  font-size: 24px;
  font-weight: bold;
  color: #076472;
}
.device-name {
  margin-top: 24px;
  margin-bottom: 0;
}
.settings {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 12px;
}
.addition-info {
  font-size: 20px;
}
.device-price {
  color: green;
}
.in-stock-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.sort-btns {
  text-align: center;
}

.low-to-high-button,
.high-to-low-button,
.review-button {
  border-radius: 11px;
  border-width: 1px;
  height: 34px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.64);
  color: white;
}
.display-chosen-type-only {
  justify-content: center;
  display: grid;
  text-align: center;
}
.display-button {
  border-radius: 11px;
  border-width: 1px;
  height: 34px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.64);
  color: white;
  padding: 2px 16px 2px 16px;
}
